extends master.pug
block content
    h1(class="display-2") Welcome Page
    p(class="lead") This is my implementation of OAuth. When the link below is clicked, you will be directed to login to a valid oregonstate email address. After you login, you will be redirected to another page which will display your first name, last name, and state variable that was used.
    a(href= url, class="btn btn-primary") Click Here to Login with Google!